/* Gruvbox Dark Theme */
body {
  background-color: #282828;
  color: #ebdbb2;
}

.cypress-menu {
  background-color: #3c3836;
}

.cypress-menu a {
  color: #d79921;
}

.footer-bar {
  background-color: #282828;
  color: #ebdbb2;
}
